<?xml version="1.0" encoding="utf-8"?>
<manifest package="gr.academic.city.sdmd.studentsclubactivities"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ClubActivitiesActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.CreateClubActivityActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.ClubActivityDetailsActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".service.ClubService"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name=".service.ClubActivityService"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name=".service.PushToServerService"
            android:enabled="true"
            android:exported="false"/>

        <receiver android:name=".receiver.TriggerPushToServerBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="gr.academic.city.sdmd.studentsclubactivities.TRIGGER"/>
            </intent-filter>
        </receiver>

        <provider
            android:name=".db.ClubManagementContentProvider"
            android:authorities="gr.academic.city.sdsm.studentsclubactivities"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>